In [2]:
##Importing CSV file from Pandas
import pandas as pd

In [3]:
##Reading CSV file of Dataset
df=pd.read_csv("summer-products.csv")

In [4]:
##df.head---Showing the first five(5)columns
df.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [5]:
##Exploring the dataset for analysis
df.columns

Index(['title', 'title_orig', 'price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [6]:
##Exploring needed Data for Analysis
newdf=df[['shipping_is_express','countries_shipped_to','price','units_sold','origin_country','uses_ad_boosts','theme']]

In [7]:
newdf.head()

,shipping_is_express,countries_shipped_to,price,units_sold,origin_country,uses_ad_boosts,theme
0,0,34,16.00,100,CN,0,summer
1,0,41,8.00,20000,CN,1,summer
2,0,36,8.00,100,CN,0,summer
3,0,41,8.00,5000,CN,1,summer
4,0,35,2.72,100,CN,1,summer

In [8]:
##Information contained in the Dataset
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   shipping_is_express   1573 non-null   int64
 1   countries_shipped_to  1573 non-null   int64
 2   price                 1573 non-null   float64
 3   units_sold            1573 non-null   int64
 4   origin_country        1556 non-null   object
 5   uses_ad_boosts        1573 non-null   int64
 6   theme                 1573 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 86.2+ KB

In [9]:
##Checking for dataset type
newdf.dtypes

shipping_is_express       int64
countries_shipped_to      int64
price                   float64
units_sold                int64
origin_country           object
uses_ad_boosts            int64
theme                    object
dtype: object

In [10]:
##Checking for values for value_counts in colunm(origin_country)
newdf['origin_country'].value_counts()

origin_country
CN    1516
US      31
VE       5
SG       2
AT       1
GB       1
Name: count, dtype: int64

In [11]:
##Checking for values for value_counts in colunm(theme)
newdf['theme'].value_counts()

theme
summer    1573
Name: count, dtype: int64

In [14]:
##Checking for nullvalues...Here we have 17 nan values in origin_country
newdf.isnull().sum()

shipping_is_express      0
countries_shipped_to     0
price                    0
units_sold               0
origin_country          17
uses_ad_boosts           0
theme                    0
dtype: int64

In [17]:
##replacing nan values with not specified
newdf['origin_country'] = newdf['origin_country'].astype(str).replace('nan', 'Not Specified')

C:\Users\USER\AppData\Local\Temp\ipykernel_3136\638123385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['origin_country'] = newdf['origin_country'].astype(str).replace('nan', 'Not Specified')

In [18]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   shipping_is_express   1573 non-null   int64
 1   countries_shipped_to  1573 non-null   int64
 2   price                 1573 non-null   float64
 3   units_sold            1573 non-null   int64
 4   origin_country        1573 non-null   object
 5   uses_ad_boosts        1573 non-null   int64
 6   theme                 1573 non-null   object
 7   Sales                 1573 non-null   float64
dtypes: float64(2), int64(4), object(2)
memory usage: 98.4+ KB

In [15]:
##Creating a new column called Sales with the column(price*units_sold)
newdf['Sales']=newdf['price'] * newdf['units_sold']

C:\Users\USER\AppData\Local\Temp\ipykernel_3136\3618874018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Sales']=newdf['price'] * newdf['units_sold']

In [16]:
newdf.head()

,shipping_is_express,countries_shipped_to,price,units_sold,origin_country,uses_ad_boosts,theme,Sales
0,0,34,16.00,100,CN,0,summer,1600.0
1,0,41,8.00,20000,CN,1,summer,160000.0
2,0,36,8.00,100,CN,0,summer,800.0
3,0,41,8.00,5000,CN,1,summer,40000.0
4,0,35,2.72,100,CN,1,summer,272.0

In [20]:
##Converting and Exporting to a new csv file
newdf.to_csv('CleanedSummer-ProductData.csv')